.container {
    width: 100%;
    min-height: 100vh;
}

.header {
    height: 60px;
    background: #A03037;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    position: fixed;
    z-index: 1;
}

.heading {
    display: flex;
    width: 130px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 10px;
}

.logo {
    width: 31px;
    height: 24px;
}

.title {
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-left: 10px;
}

.search {
    display: flex;
    width: 490px;
    height: 33px;
    background: #FCFCFC;
    border-radius: 3px;
}

.person {
    display: flex;
}

.profile {
    width: 90px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-right: 1px solid #A01039 ;
    border-left: 1px solid #A01039 ;
}

.cart {
    width: 90px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-right: 1px solid #A01039 ;
    border-left: 1px solid #A01039 ;
}

.popup {
    position: absolute;
    top: 60px;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
    background-color: #FFFFFF;
}

.wishlist {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 80px;
    align-items: center;
}

.sign {
    border: 1px solid #A03037
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .search {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .search > .MuiInputBase-root {
        display: none;
    }

    .search {
        width: max-content;
        background-color: #A03037;
    }

    .header {
        padding: 4px 8px;
        height: 48px;
    }

    .profile {
        width: 70px;
        height: 45px;
    }

    .cart {
        width: 70px;
        height: 45px;
    }
}

@media screen and (max-width : 380px) {
    .header {
        position: fixed;
    }
}
