.form1 {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    width: 500px;
    height: max-content;
}

.fullName1 {
    margin-right: 10px !important;
}

.type {
    margin-top: 30px;
    font-weight: normal;
}

.MuiFormGroup-root {
    flex-direction: row !important;
}


@media screen and (max-width: 800px) {
    .customer1 {
        height: max-content;
    }

    .first {
        flex-direction: column;
        height: max-content;
        width: 100%;
    }
}