.display-cart {
    width: 70%;
    padding-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 83vh;
    height: max-content;
}

.cart1 {
    width: 774px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    padding: 20px 35px;
    margin: 10px;
    box-sizing: border-box;
}

.myCart {
    width: 85px;
    height: 22px;
    text-align: left;
    font-weight: bold;
    font-size: 18px/22px ;
    letter-spacing: 0px;
    color: #0A0102;
    margin-bottom: 20px;
}

.bookdetails {
    width: 236px;
    height: 89px;
    display: flex;
    margin-bottom: 10px;
}

.image1 {
    width: 65px;
    height: 85px;
}

.image1 > img {
    width: 65px;
    height: 85px;
}

.details1 {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Booktitle {
    width: 133px;
    height: 17px;
    text-align: left;
    font: normal normal normal 14px/17px 'Lato';
    letter-spacing: 0px;
    color: #0A0102;
}

.quantity {
    height: 24px;
    display: flex;
    align-items: center;
}

.control {
    width: 24px;
    height: 24px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.value1 {
    width: 41px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.remove {
    width: 42px;
    text-align: center;
    letter-spacing: 0px;
    color: #0A0102;  
    margin-left: 30px;
    cursor: pointer;
}

.placeorder {
    display: flex;
    justify-content: flex-end;
}

.placeorder1 {
    display: none;
}

.customer {
    width: 774px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    margin: 10px;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}

.customer1 {
    width: 774px;
    height: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    margin: 10px;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: bold;
}

.order {
    width: 774px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    margin: 10px;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}

.order1 {
    width: 774px;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .cart1 {
        width: 100%;
    }

    .customer {
        width: 100%;
    }

    .order {
        width: 100%;
    }

    .customer1 {
        width: 100%;
    }

    .order1 {
        width: 100%;
    }
}