.footer {
    height: 50px;
    background:#2E1D1E;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    padding-left: 200px;
    z-index: 1;
}

.footer-content {
    width: 346px;
    height: 15px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
}